body {
    background: url(assets/background-tile.png);
}

#steps > li {
    list-style-type: none;
    width: 400px;
    background-color: white;
    border-radius: 400px;
    height: 400px;
    margin: 50px;
    box-shadow: -10px 10px 10px #333;
    text-align: center;
    position: absolute;
}

#steps > li:first-child {
    top: 20px;
    left: 70px;

    height: 600px;
    width: 600px;
    border-radius: 600px;
}

#steps > li:last-child {
    top: 270px;
    right: 20px;
}

#facebook-step {
    background: 
}

#dropbox-step {

}
